<div>
  <ul class="nav nav-tabs nav-justified">
    <% @teams.each do |team| %>
      <%= content_tag 'li', class: ('active' if team == @team) do %>
        <%= link_to team.name , root_path(team: team.id) %>
      <% end %>
    <% end %>
  </ul>
  <% if(@team.releases.present?) %>
    <%= render file: 'releases/show' %>
  <% else %>
    <p>
      <pre>
        No releases for this team
      </pre>
    </p>
  <% end %>
</div>